


/* -----------animations */

.find:hover, .icon:hover,.card:hover, #find:hover{
   
  animation: pulse 0.5s forwards;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}


#find{
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}









body{
  font-family: 'Poppins';font-size: 15px;
}


/* Style the dropdown button */
.dropbtn {
    /* background-color: #4CAF50; */
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    color: #3e8e41;
    text-decoration: underline;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

  .navContainer{

    display: flex;
    justify-content : space-around;
    align-items: center;
    /* margin-left: 50px; */
    z-index: 1;
    background-color: rgba(255, 228, 196, 0.407);
   
    
  }

  .optionContainer{
    display: flex;
    border:  solid black;
    border-radius: 50px;
    
  }

  .logo{
    width: 8%;
    
  }
  .find{
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
  }

  .find:hover, .find:focus {
    background-color: peru;
    
  }
  .topImgTxt{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 100px;
  }
  .topImg{
     width: 30em;
  }
  .welcomeTxt{
    text-align: center;
    height: 250px;
    padding: 30px;
    position: relative;
    top: 100px;
    background-color: rgba(255, 228, 196, 0.407);
    border-radius: 50px;
  }

  .actionBTNS{
    display: flex;
    justify-content: space-evenly;
  }

  .midTitle{
    background-color:  rgba(255, 228, 196, 0.407);
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 60px;
    /* margin-left: 120px;
    margin-right: 120px; */
    text-align: center;
  }
  a{
    color:#3e8e41;
    cursor: pointer;
  }
  a:hover{
    color:#334533;
    cursor: pointer;
  }
  .Languages{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  #FR{
    height: 200px;
  }
  .reviewSlide{
    width: 40%;
    
  }
  .reviewContainer{
    display: flex;
    justify-content: space-around;
    margin: 100px;
    
  }
  .reviewTitle{
    background-color: rgba(255, 228, 196, 0.407);
    border-radius: 40px;
    height: 200px;
    padding: 30px;
    position: relative;
    top: 120px;
    text-align: center;
    /* margin: 50px; */
    width: 40%;
  }

  .bottomContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(255, 228, 196, 0.407);
    padding: 50px;
    
  }
  .btmPic{
    width: 40em;
    border-radius: 50%;
  }
  .story h1{
    text-align: center;
  }
  .story p{
    text-align: left;
   
    padding-left: 50px;
    padding-right: 60px;

  }

  .story{
    text-align: center;

  }

  .subscribeContainer{
    margin: 100px;
    text-align: center;
    
  }
  .inputcontainer{
    display: flex;
    margin-top: 30px;
  }
  #input{
    position: absolute;
    left: 450px;
    width: 800px;
    border-radius: 50px;
    padding: 20px;
    
  }
  #subscribe{
    position: relative;
    left:65em;
    top: 5px;

  }
  footer{
    text-align: center;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.407) ;
   color: lightslategray;
  }
  footer ul{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    
    width: 500px;
    margin-left: 600px;
  }
  footer li{
    list-style: none;
  
  }

  /* ---Classes page styling page---- */

  .classTitle{
    background-image: url(https://swits.us/wp-content/uploads/2020/09/interpreting-questions-answers-1500x630.jpg);
    position: relative;
    top: 30px;
    width: 100%;
    height: 30vh;
    background-size: cover;
    text-align: center;
    
  }

  .classTopTitle h1{
    position: relative;
    top: 50px;
    text-align: center;
  }
  .ClassInfo{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 150px;
    margin-left: 200px;
    margin-right: 200px;
  }

  form{
    width: 50%;
    border: solid lightgrey;
    border-radius: 40px;
    padding: 30px;
    height: 450px;
    margin-top: 100px;
   
  }
  form span{
    color: orange;
  }
  form .find{
    margin-top: 20px;
    
  }  
  .txtInfoContainer{
    display: block;
  }
    
  .txtInfo{
    background-color: rgba(255, 228, 196, 0.407);
    border-radius: 40px;
    height: 230px;
    padding: 30px;
    text-align: left;
    margin: 50px;
    width: 70%;
  }
  /* -----------------------classe mid container */
.classMidContainer{
  display: block;
  position: relative;
  top: 200px;
  width: 70%;
  text-align: center;
  padding: 30px;
  margin-left: 250px;
  
}
.classMidTitle{
  padding: 30px;
  background-color: rgba(109, 210, 201, 0.407) ;
  border-radius: 40px;
  margin-bottom: 20px;
}
table{
    border: solid black;
    
  }
#Mid{
    background-color: rgba(195, 222, 99, 0.407) ;

  }
  .getStarted{
    position: relative;
    top: 250px;
    text-align: center;
    width: 65%;
    margin-left:280px ;
    background-color: rgba(255, 228, 196, 0.407);
    border-radius: 40px ;
    padding: 30px;
  }
  .getStarted .find{
    margin-top: 20px;
  }
  .clasFooter{
    position: relative;
    top: 300px;
  }


  /* --------------------contact page style */

  #contactForm{
    height: 45em;
    
  }
  #GetIntouch{
    text-align: center;
  }

.conntactContainer{
  display: flex;
  justify-content: space-evenly;

  
}
aside{
  border: solid lightgray;
  margin-top: 100px;
  border-radius: 40px;
  padding: 30px;
  background-color:  rgba(255, 228, 196, 0.407);
}
aside h5{
  padding: 20px;
}
 aside h5 span{
  font-size: 1em;
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
    line-height: 1.4em;
    padding-left: 20px;
    
 }

 .social-icons {
  display: flex;
}

.social-icons .icon {
  margin-left: 50px;
  
}
aside a{
  color: black;
}

aside a:hover{
  color: peru;
}


/* Animation property */




